<h1>Welcome to Members Only!</h1>
<div class="form-container">
  <h2>Add New Message</h2>
  <form method="POST" action="/new-message">
    <div class="form-item">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" required />
    </div>
    <div class="form-item">
      <label for="content">Message Content</label>
      <textarea name="content" id="" cols="30" rows="10" required></textarea>
    </div>
    <div class="form-item">
      <button>Add Message</button>
    </div>
  </form>
  {{#if errors}}
    <ul class="errors">
      {{#each errors}}
        <li>
          {{this.msg}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>
<div class="message-board">
  {{#each messages}}
    <div class="message">
      <div class="message-title">
        {{this.title}}
      </div>
      <div class="message-content">
        {{this.content}}
      </div>
      <div class="message-timestamp">
        {{this.timestamp}}
      </div>
      <div class="message-author">
        Posted by:
        {{this.author.username}}
      </div>
      <form method="POST" action="/delete">
        <input type="hidden" name="id" value={{this._id}} />
        <button>Delete Message</button>
      </form>
    </div>
  {{/each}}
</div>